@font-face {
    font-family: "Roboto Medium";
    src: url("/5/Fonts/Roboto-Medium.ttf") format("ttf");
}

:root {
    --primary: #6750A4;
    --on-primary: #FFffFF;
    --Surface:#FFFBFE;
    --Outline: #79747E;
    --on-surface:#1C1B1F;


    --secondary-container: #E8DEF8;
    --on-secondary-container: #1E192B;


    --LabelMedium_Size: 12px;
    --LabelMedium_LineHeight: 16px;
    --Large_Weight: 500;
}

.Filled {
    background-color: var(--primary);
    color: var(--on-primary);
    font-size: var(--LabelMedium_Size);
    line-height: var(--LabelMedium_LineHeight);
    font-weight: var(--Large_Weight);
    font-family: 'Roboto Medium';
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    border-radius: 20px;
    border:none;
    cursor:pointer;
}

.Tonal {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    font-size: var(--LabelMedium_Size);
    line-height: var(--LabelMedium_LineHeight);
    font-weight: 600;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    border-radius: 20px;
    border:none;
    cursor:pointer;
}


.Outlined {
    background-color: var(--Surface);
    color: var(--primary);
    border-color: var(--Outline);
    font-size: var(--LabelMedium_Size);
    line-height: var(--LabelMedium_LineHeight);
    font-weight: 600;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    border-radius: 20px;
    cursor:pointer;
}

.Text {
    background-color: var(--Surface);
    color: var(--primary);
    border-color: var(--Outline);
    font-size: var(--LabelMedium_Size);
    line-height: var(--LabelMedium_LineHeight);
    font-weight: 600;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    border-radius: 20px;
    border:none;
    cursor:pointer;
}

.btn.Filled:disabled{ /* Disabled */
    cursor: default;
    opacity: 38%;
}
.btn.Filled:disabled{ /* Disabled */
    background: 
            linear-gradient(
                rgba(255, 255, 255, 0.88),
                rgba(255, 255, 255, 0.88)
            ),
            var(--on-surface);
    color:  var(--on-surface);
}

.btn.Filled:enabled:hover { /* Hovered */
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.08),
        rgba(0, 0, 0, 0.08)
    ),
    var(--primary);
    color:  var(--on-primary);
}

.btn.Filled:enabled:focus { /* Focused */
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.08),
        rgba(0, 0, 0, 0.08)
    ),
    var(--primary);
    color:  var(--on-primary);
}

.btn.Filled:enabled:active { /* Pressed */
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.08),
        rgba(0, 0, 0, 0.08)
    ),
    var(--primary);
    color:  var(--on-primary);
}


.btn.Filled:disabled{ /* Disabled */
    cursor: default;
    opacity: 38%;
}
.btn.Filled:disabled{ /* Disabled */
    background: 
            linear-gradient(
                rgba(255, 255, 255, 0.88),
                rgba(255, 255, 255, 0.88)
            ),
            var(--on-surface);
    color:  var(--on-surface);
}

.btn.Filled:enabled:hover { /* Hovered */
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.08),
        rgba(0, 0, 0, 0.08)
    ),
    var(--primary);
    color:  var(--on-primary);
}

.btn.Filled:enabled:focus { /* Focused */
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.08),
        rgba(0, 0, 0, 0.08)
    ),
    var(--primary);
    color:  var(--on-primary);
}

.btn.Filled:enabled:active { /* Pressed */
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.12),
        rgba(0, 0, 0, 0.12)
    ),
    var(--primary);
    color:  var(--on-primary);
}


.btn.Tonal:disabled{ /* Disabled */
    cursor: default;
    opacity: 38%;
}
.btn.Tonal:disabled{ /* Disabled */
    background: 
            linear-gradient(
                rgba(255, 255, 255, 0.88),
                rgba(255, 255, 255, 0.88)
            ),
            var(--on-surface);
    color:  var(--on-surface);
}

.btn.Tonal:enabled:hover { /* Hovered */
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.08),
        rgba(0, 0, 0, 0.08)
    ),
    var(--secondary-container);
    color:  var(--on-secondary-container);
}

.btn.Tonal:enabled:focus { /* Focused */
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.08),
        rgba(0, 0, 0, 0.08)
    ),
    var(--secondary-container);
    color:  var(--on-secondary-container);
}

.btn.Tonal:enabled:active { /* Pressed */
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.12),
        rgba(0, 0, 0, 0.12)
    ),
    var(--secondary-container);
    color:  var(--on-secondary-container);
}



.btn.Outlined:disabled{ /* Disabled */
    cursor: default;
    opacity: 38%;
}
.btn.Outlined:disabled{ /* Disabled */
    background: 
            linear-gradient(
                rgba(255, 255, 255, 0.88),
                rgba(255, 255, 255, 0.88)
            ),
            var(--on-surface);
    color:  var(--on-surface);
}

.btn.Outlined:enabled:hover { /* Hovered */
    border-color: var(--Outline);
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.92),
        rgba(255, 255, 255, 0.92)
    ),
    var(--primary);
    color:  var(--primary);
}

.btn.Outlined:enabled:focus { /* Focused */
    border-color: var(--Outline);
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.92),
        rgba(255, 255, 255, 0.92)
    ),
    var(--primary);
    color:  var(--primary);
}


.btn.Outlined:enabled:active { /* Pressed */
    border-color: var(--Outline);
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.88),
        rgba(255, 255, 255, 0.88)
    ),
    var(--primary);
    color:  var(--primary);
}





.btn.Text:disabled{ /* Disabled */
    cursor: default;
    opacity: 38%;
}
.btn.Text:disabled{ /* Disabled */
    color:  var(--on-surface);
}

.btn.Text:enabled:hover { /* Hovered */
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.92),
        rgba(255, 255, 255, 0.92)
    ),
    var(--primary);
    color:  var(--primary);
}

.btn.Text:enabled:focus { /* Focused */
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.92),
        rgba(255, 255, 255, 0.92)
    ),
    var(--primary);
    color:  var(--primary);
}


.btn.Text:enabled:active { /* Pressed */
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.88),
        rgba(255, 255, 255, 0.88)
    ),
    var(--primary);
    color:  var(--primary);
}
